@media screen and (max-width:640px){
    .box{
        max-width: 645px;
    }
    .box__head{
        width: 100%;
    }
    input, label, span{
        display: block;
        visibility: visible;
        width: 40px;
        height: 40px;
    }
    span::before{
        width: 40px;
        background-color: ;
    }
    ul{
        display: none;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box__head{
        width: 100%;
        height: 600px;
    }
    .haed__head{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 50px;
        height: 30px;
        display: block;
        margin-left: 20px;
    }
    .head__links{
        min-width: 500px;
        width: 60%;
    }
    .links__links{
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-size: 25px;
    }
    .head__main{
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .head__main__main{
        width: 40%;
        box-sizing: border-box;
        padding-left: 10%;
        align-self: center;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .main__photo{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main__name__start{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .main__name__middle{
        color: #5B23FF;
        font-size: 35px;
    }
    .main__name__additional{
        font-size: 20px;
        margin-top: 10px;
    }
    .photo__bacc{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 400px;
        border-radius: 1000px;
        background-color: #5B23FF;
    }
    .box__about{
        width: 90%;
        border-radius: 50px;
        background-color: #2A2A44;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__head{
        padding-top: 20px;
        font-size: 35px;
    }
    .about__main{
        padding-top: 40px;
        font-size: 28px;
        display: block;
        width: 80%;
    }
    .box__projects{
        margin-top: 30px;
        width: 90%;
        background-color: #2A2A44;
        border-radius: 50px;
        height: 780px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projects__head{
        font-size: 35px;
        padding-top: 20px;
    }
    .projects__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        padding-top: 40px;
    }
    .box__part-first{
        display: flex;
        width: 100%;
        height: 300px;
        align-items: flex-start;
    }
    .first__project{
        width: 45%;
    }
    .part-first__main{
        width: 50%;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
    }
    .main-project__head{
        font-size: 20px;
        font-weight: normal;
    }
    .main-project__main{
        font-size: 30px;
    }
    .box__part-second{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 300px;
        justify-content: space-between;
    }
    .main-project__head{
        justify-content: flex-start;
    }
    .second__project{
        padding-top: 80px;
        width: 45%;
    }
    .part-first__link{
        height: 20px;
    }
    .part-first__link{
        height: 20px;
    }
    .part-second__main{
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 47%;
        justify-content: space-between;
    }
    .part-__link{
        display: flex;
        flex-direction: row;
        width: 60px;
        justify-content: space-between;
    }
    .link__photo{
        width: 20px;
        height: 20px;
    }
    .part-__link img{
        width: 20px;
        height: 20px;
    }
    .box__skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 840px;
        background-color: #2A2A44;
        border-radius: 50px;
        margin-top: 40px;
    }
    .skills__head{
        font-size: 40px;
        padding-top: 20px;
        font-weight: normal;
    }
    .skills__main{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 700px;
        align-items: center;
        justify-content: space-between;
    }
    .skills__hard{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 300px;
    }
    h3{
        font-size: 30px;
        font-weight: normal;
    }
    .hard__main{
        height: 250px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .hard__main *{
        font-size: 15px;
        font-weight: normal;
    }
    .main__part1{
        height: 40px;
        display: flex;
        flex-direction: column;

    }
    .part1__bottom, .part2__bottom, .part3__bottom, .part4__bottom{
        background-color: white;
        width: 100%;
        height: 20px;
    }
    .part1__top, .part2__top, .part3__top, .part4__top{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .skills__soft{
        width: 90%;
        height: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .soft__soft{
        height: 280px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .soft__soft *{
        font-size: 27px;
        font-weight: normal;
    }
    .soft__top{
        text-align: center;
    }
    .bottom1__line, .bottom2__line, .bottom3__line, .bottom4__line{
        background-color: #1b1b2f;
        height: 20px;
    }
    .bottom1__line{
        width: 85%;
    }
    .bottom2__line{
        width: 90%;
    }
    .bottom3__line{
        width: 50%;
    }
    .bottom4__line{
        width: 0;
    }
    .soft__top, .soft__bottom{
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: flex-start;
    }
    .soft__bottom{
        justify-content: center;
    }
    .box__contact--now{
        width: 90%;
        height: 620px;
        background-color: #2A2A44;
        border-radius: 50px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact--now__head{
        font-size: 35px;
        font-weight: normal;
        padding-top: 10px;
    }
    .contact--now__main{
        width: 95%;
        height: 550px;
        color: #8d8e9d;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 20px;
    }
    .input__name{
        width: 100%;
        height: 60px;    
        background-color: #747581;
        border-radius: 20px;
        font-size: 20px;
        padding-left: 2%;
    }
    input, text-area{
        color: white;
    }
    .input__email{
    width: 100%;
    height: 60px;
    background-color: #747581;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 2%;
    color: white;
    }
    ::placeholder{
        color: white;
    }
    .input__number{
    width: 100%;
    height: 60px;
    background-color: #747581;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 2%;
    color: white;
    }
    .input__main{
    width: 100%;
    height: 200px;
    background-color: #747581;
    border-radius: 20px;
    font-size: 23px;
    padding-top: 10px;
    padding-left: 2%;
    color: white;
    vertical-align: text-top;
    }
    .contact--now__submit{
        width: 35%;
        height: 45px;
        background-color: #747581;
        color: white;
        align-self: center;
    }
    textarea{
        resize: none;
    }
    .box__end{
        width: 85%;
        height: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .end__top{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        font-size: 20px;
    }
    .end__top img{
        display: none;
    }
    .end__top p{
        padding-top: 8%;
        font-size: 25px;
    }
    .end__end{
        padding-top: 8%;
        font-size: 20px;
        align-self: center;
    }
}